<nav class="pager">
  <ul>
  <li><% if @newer_path %><a class="newer-posts" href="<%=@newer_path%>"><%=erb :"icons/arrow_left"%> Newer</a><% end %></li>
  <li><% if @older_path %><a class="older-posts" href="<%=@older_path%>">Older <%=erb :"icons/arrow_right"%></a><% end %></li>
  </ul>
</nav>