<h1 id="page-title"><a href="/dashboard"><%= @title %></a></h1>

<%= erb :_pager %>

<div class="posts dashboard-posts">
<% for @post in @page.posts %>
<%= erb :_post_view %>
<% end %>
</div>

<%= erb :_pager %>