// Colors

$base03:    #002b36; // darkest
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3; // lightest

$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$background-color:   $base3;
$text-color:         $base00;
$brand-color:        $cyan;
$muted-text-color:   $base1;
$em-text-color:      $base01;
$highlight-bg-color: $base2;

// $dark-background-color:     $base03;
// $dark-highlight-bg-color:   $base02;
// $dark-highlight-text-color: $base1;
// $dark-muted-text-color:     $grey-color-darker;
// $dark-text-color:           $grey-color;

// $black-color:        $base03;
// $off-black-color:    $base02;
// $grey-color-darker:  $base01;
// $grey-color-dark:    $base00;
// $grey-color:         $base0;
// $grey-color-light:   $base1;
// $off-white-color:    $base2;
// $white-color:        $base3;


@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3) {
  background-color:$rebase03;
  color:$rebase0;
  * { color:$rebase0; }
  h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
  a, a:active, a:visited { color: $rebase1; }
}
@mixin accentize($accent) {
  a, a:active, a:visited, code.url { color: $accent; }
  h1,h2,h3,h4,h5,h6 {color:$accent}
}


// Fonts

$font-family-serif: "Libre Baskerville", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, "Times New Roman", serif;
$font-family-monospace: 'Inconsolata', Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;;
$font-family: $font-family-serif;